@import 'tailwindcss';

@import "../static/kh-font/kh-font.css";

@source '../../../content/**/*.md';
@source '../../../layouts/**/*.html';

@theme {
  --font-raleway: Raleway, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  :root {
    --green-color: #1abc9c;
  }
}

@layer base {
  h1 {
    @apply text-5xl;
    @apply print:text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h5 {
    @apply uppercase;
    @apply text-lg;
    @apply font-medium;
    @apply print:text-sm;
    @apply px-1.5;
  }
  hr {
    @apply my-3;
    @apply print:my-0.5;
  }
  ul {
    @apply list-disc;
    @apply ml-5;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  &.show {
    max-height: 99em;
    transition: max-height 0.5s ease-in-out;
  }
}

.container {
  @apply px-2;
  @apply print:px-0;
  @apply print:text-[11.5px];
}

a {
  color: var(--green-color);
}

svg {
  display: inline-block;
}

.rounded_print {
  @apply p-0.5;
  @apply m-0;
  @apply my-1;
  @apply print:m-0.5;
  @apply print:p-0.5;
}