@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-color: #1abc9c;
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h5 {
    @apply uppercase;
    @apply text-lg;
    @apply font-medium;
  }
}

*, ::after, ::before {
    box-sizing: border-box;
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);
&.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
  }
}

a {
  color: var(--green-color);
}