@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-color: #1abc9c;
}

@layer base {
  h1 {
    @apply text-5xl;
    @apply print:text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h5 {
    @apply uppercase;
    @apply text-lg;
    @apply font-medium;
    @apply print:text-sm;
    @apply px-1.5;
  }
  hr {
    @apply my-3;
    @apply print:my-0.5;
  }
  ul {
    @apply list-disc;
    @apply ml-5;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  &.show {
    max-height: 99em;
    transition: max-height 0.5s ease-in-out;
  }
}

.container {
  @apply px-2;
  @apply print:px-0;
  @apply print:text-xs;
}

a {
  color: var(--green-color);
}

svg {
  display: inline-block;
}