{{ $experience := site.Data.experience }}

<section class="grid md:grid-cols-6 print:grid-cols-6 grid-cols-1">
    <h5 id="experience">Experience</h5>
    <div class="col-span-5">
        {{ range $experience }}
            <div itemscope itemtype="http://schema.org/Organization" class="{{ .class }}">
                <div class="grid lg:grid-cols-12 print:grid-cols-12 grid-cols-1">
                    <div class="col-span-1 lg:col-span-7 print:col-span-7">
                        <strong itemprop="jobTitle">{{ .title }}</strong>
                    </div>
                    <div class="col-span-1">
                        <span class="bg-[#007bff] text-white rounded_print rounded-md whitespace-nowrap leading-5" itemprop="name">{{ .company }}<span class="{{.icon}} pl-2 print:hidden"></span></span>
                    </div>
                    <div class="col-span-1 lg:col-span-4 print:col-span-4 text-right">
                        <span class="bg-[#6c757d] text-white rounded_print rounded-md whitespace-nowrap leading-5">{{ .employment_date }}</span >
                    </div>
                </div>
                {{ if .description }}
                <div class="grid grid-cols-1  {{ if .print_description_only }} print:hidden {{ end }}">
                    <div itemprop="description">
                        {{ .description | markdownify }}
                    </div>
                </div>
                {{ end }}
                {{ if .bullets }}
                <div class="grid grid-cols-1 {{ if .print_description_only }} print:hidden {{ end }}">
                    <ul>
                        {{ range .bullets }}
                            <li>{{ . | markdownify }}</li>
                        {{ end }}
                    </ul>
                </div>  
                {{ end }}
            </div>
        {{ end }}
    </div>
</section>