<!-- PROFILE -->
<section>
  <div class="grid grid-cols-1">
    <div class="col-span-12">
      <hr />
    </div>
  </div>
  <div class="grid md:grid-cols-6 grid-cols-1">
    <h5>About</h5>
    <div class="col-span-4 print:col-span-5">
      Passionate and innovative professional specializing in application and cloud architecture, software delivery, and team collaboration. Recognized for rapid learning, creative problem-solving, and a track record of implementing successful technical solutions. Extensive experience in leading technical strategies, enhancing efficiency, and driving organizational improvements through innovative approaches.
    </div>
    <div class="text-right print:hidden">
      <a href="/karl_haworth_resume.pdf" target="_blank" class="text-[#1abc9c]">
        Download Resume as PDF
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-file-earmark-arrow-down inline-block"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"
          />
          <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z" />
          <path
            fill-rule="evenodd"
            d="M5.646 9.146a.5.5 0 0 1 .708 0L8 10.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z"
          />
          <path
            fill-rule="evenodd"
            d="M8 6a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4A.5.5 0 0 1 8 6z"
          />
        </svg>
      </a>
    </div>
  </div>
  <div class="grid grid-cols-1 mb-3">
    <div class="col-span-12">
      <hr class="mx-3" style="margin-bottom: unset" />
    </div>
  </div>
</section>
<!-- END PROFILE -->
