{{ $projects := site.Data.work_projects }}

<section class="grid sm:grid-cols-6 print:grid-cols-6 grid-cols-1" id="projects">
    <div>
        <h5 id="projects">Projects</h5>
    </div>
    <div class="col-span-5">
        {{ range $projects }}
            <div class="{{ if .skip_print }} print:hidden {{end}}">
                <div class="grid sm:grid-cols-4 print:grid-cols-4 grid-cols-1">
                    <div class="col-span-3">
                        <strong>{{ .name }}</strong>
                    </div>
                    <div class="text-right">
                        <span class="bg-[#6c757d] text-white p-0.5 rounded-md whitespace-nowrap">{{ .date }}</span>
                    </div>
                </div>
                <div class="grid sm:grid-cols-12 print:grid-cols-12 grid-cols-1">
                    <div class="col-span-5">
                        <div class="uppercase">Problem</div>
                        <div class="ml-3">{{ .problem }}</div>
                    </div>
                    <div class="col-span-7">
                        <div class="uppercase">Solution</div>
                        <div class="ml-3">{{ .solution }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 technology_bullets">
                        {{ range .technology_utilized }}
                            <span class="bg-[#fff] print:border-black print:border-solid print:border text-[#2c3e50] rounded-md whitespace-nowrap p-0.5">{{ . }}</span>
                        {{ end }}
                    </div>
                </div>
                <div class="row pb-3 print:pb-0">
                    <div class="col-md-12">
                        <ul class="list-disc ml-5 print:ml-2 print:text-xs">
                            {{ range .description_bullets }}
                                <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</section>