{{ partial "head.html" . }} {{ partial "header.html" . }}

<div class="font-raleway">
  <!-- CONTAINER -->
  <div class="container mx-auto print:mx-0 print:max-w-full">
    <!-- EXPERIENCE -->
    {{ partial "experience.html" . }}
    <!-- END EXPERIENCE -->
    <hr />
    <!-- SKILLS -->
    {{ partial "skills.html" . }}
    <!-- END SKILLS -->
    <hr />
  </div>
  <!-- END CONTAINER -->
  <!-- BOTTOM WRAP -->
  <div class="bg-[#2c3e50] print:bg-transparent text-white print:text-black">
    <!-- CONTAINER -->
    <div class="container mx-auto print:mx-0 print:max-w-full">
      <!-- RECOGNITION -->
      {{ partial "recognition.html" . }}
      <!-- END RECOGNITION -->
      <hr />
      <!-- VOLUNTEERING -->
      {{ partial "volunteering.html" . }}
      <hr />
      <!-- COMMUNITY_ENGAGEMENTS -->
      {{ partial "community_engagements.html" . }}
      <!-- END COMMUNITY_ENGAGEMENTS -->
      <hr />
      <!-- EDUCATION -->
      {{ partial "education.html" . }}
      <!-- END EDUCATION -->
    </div>
    <!-- END CONTAINER -->
  </div>
  <!-- END BOTTOM WRAP -->
  <!-- ABOUT WRAP -->
  <div class="print:hidden bg-[#2f2f2f] print:bg-transparent pt-3">
    <!-- CONTAINER -->
    <div class="container mx-auto print:mx-0 print:max-w-full">
      <!-- ABOUT -->
      {{ partial "about.html" . }}
      <!-- END ABOUT -->
    </div>
    <!-- END CONTAINER -->
  </div>
  <!-- ABOUT WRAP -->
</div>

{{ partial "footer.html" . }}
