name: Build for Cloudflare

on:
  pull_request:
  push:
    branches:
      - main

env:
  PROJECT_NAME: karlhaworth-com-hugo
  HUGO_VERSION: 0.146.1

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
      statuses: write
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: ${{ env.HUGO_VERSION }}

      - name: build
        run: make build-all

      - uses: actions/github-script@v8
        id: my-script
        with:
          script: |
            const fs = require('fs')

            var content = ""

            const data = fs.readFileSync("./data/experience.json", "utf8")

            const experiences = JSON.parse(data)

            experiences.forEach(function(experience, idx, array) {
              content += `${experience.title}\n\n`
              
              if (experience.description) {
                content += `${experience.description.replace(/\*\*/g, "")}\n`
              }
              
              if (experience.bullets && Array.isArray(experience.bullets)) {
                experience.bullets.forEach(bullet => {
                  content += `- ${bullet.replace(/\*\*/g, "")}\n`
                })
              }
              
              if (idx !== array.length - 1) { 
                content += `\n\n`
              }
            })

            fs.writeFileSync('./public/experience.txt', content)

      - name: Publish to Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          command: pages deploy public --project-name="${{ env.PROJECT_NAME }}"
